.title{
  text-align: center;
}

th{
  text-align: left;
  font-size: x-large;
}

input {
  width: 100%;
  font-size: x-large;
  padding: 0.2rem;
}

.app{
      margin: "auto";
      width: 800;
      padding-top: "1rem";    
}

button{
  background-color: lightskyblue;
  border-radius: 0.5rem;
}